.App {
    display:flex;
    flex-direction: column;
    min-height: 639px;
  }

  .image-container {
    height: 400px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
  }